# Task 1

### 1) Write a program to get the data type of a data

In [1]:
a=1+2j
a

(1+2j)

In [2]:
type(a)

complex

### 2) Write a program to convert a integer data type to float data type

In [3]:
num=10
num

10

In [4]:
b=float(num)
b

10.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [5]:
d=20
d

20

In [6]:
type(d)

int

In [7]:
h=float(d)
h

20.0

### 4) Write a programme to get the actual location of the data

In [8]:
f=10
f

10

In [9]:
id(f)

1848180828752

### 5) Give an example of implict conversion and explict conversion

In [10]:
# implict
s=1
r=1.1
s+r

2.1

In [4]:
# explict
y=1
z=1.2
k=int(z)
y+k

2

### 6) Write a programme to prove that python is a case senstive language

In [12]:
VAR1=20
var1

NameError: name 'var1' is not defined

### 7) Write a programme to get a syntax error

In [9]:
2/
+/
2

SyntaxError: invalid syntax (1356092111.py, line 1)

### 8) Write a programme to get a type error

In [7]:
l='1+2j'
m=1
n=l+m
print(n)

TypeError: can only concatenate str (not "int") to str

### 9) Give an example of mulitple statement in a single line

In [8]:
print(4*5);print(2*5);print(8*5)

20
10
40

In [ ]:
#Ans:

### 10) Give an example of single line statement in multiple line

In [10]:
2\
*10\
+2\
*10\
+2

42

In [14]:
marks=int(input("Enter the marks:"))
if marks>90:
    print(" a grade")
elif marks>80 and marks<=90:
    print(" b grade")
elif marks>=60 and marks<=80:
    print(" c grade")
elif marks<=60:
    print(" d grade")

Enter the marks:56
 d grade

In [16]:
bike_price=int(input("Enter the road tax:"))
if bike_price>100000:
    print(bike_price*15/100)
elif bike_price>50000 and bike_price<=100000:
    print(bike_price*10/100)
elif bike_price<50000:
    print(bike_price*5/100)

Enter the road tax:135000
20250.0

In [17]:
s1=int(input("Enter age for voting:"))
if s1>=18:
    print("qualified")
else:
    print("no bro ")

Enter age for voting:18
qualified

In [18]:
x=int(input("entre a number:"))
if x%2==0:
    print("even")
else:
    print("odd")

entre a number:56
even

In [19]:
x=int(input("Enter the number:"))
if x%7==0:
    print("is divisible by 7")
else:
    print("is not divisible by 7")

Enter the number:119
is divisible by 7

In [21]:
e=int(input("Enter a number:"))
if (e%10)%3==0:
    print("yes divisible")
else:
    print("not divisible")

Enter a number:699
yes divisible

In [22]:
num=int(input("Enter a number:"))
if y<100:
    print("no cherge")
elif num>100 and num<=200:
    print(num-100)*5
elif num>200:
    print(500+(num-200)*10)

Enter a number:350
no cherge

In [1]:
r=int(input("Enter the five multiple number:"))
if r%5==0:
    print("yes divisible")
else:
    print("not divisible")

Enter the five multiple number:34567897650
yes divisible